<div ng-init="menuList.init()" id="menu-list-panel">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <button type="button" ng-click="menuList.back()" class="btn  btn-default pull-left">
                <i class="fa fa-chevron-circle-left fa-lg" aria-hidden="true"></i>
            </button>
            <button  type="button" ng-click="menuList.navigate()" class="btn  btn-default pull-right">
                <i class="fa fa-lg" ng-class="{'fa-plus-square' : menuList.state.current.name == 'menuList.view','fa-minus' : menuList.state.current.name == 'menuList.add'}" aria-hidden="true"></i>
            </button>
        </div>
        <div class="panel-body">
            <div ui-view=""></div>
        </div>
    </div>
</div>